[Desktop Entry]
Name=kylin-recorder
Name[zh_CN]=麒麟录音
Exec=/usr/bin/kylin-recorder %u
Icon=/usr/share/pixmaps/recording_128.svg
Type=Application
Categories=GNOME;Utility;
