[Desktop Entry]
Name=Recorder
Name[zh_CN]=录音
Comment=Friendly interface and easy to operate recording tool
Comment[zh_CN]=界面友好操作简单的录音工具
GenericName=Audio recorder
Name[bo_CN]=གྱི་ལིང་སྒྲ་ཕབ།
Comment[bo_CN]=མཐུད་མཚམས་མཛའ་མཐུན་བཀོལ་སྤྱོད་རགས་རིམ་སྒྲ་ཕབ་ཡོ་བྱད།
GenericName[bo_CN]=སྒྲ་ཕབ་ཡོ་བྱད།
Exec=/usr/bin/kylin-recorder %u
Icon=kylin-recorder
Type=Application
Categories=GNOME;Utility;AudioVideo;
